extends template 
block content 
      h4="Booking ID:"
      h3=bookingdetail.BookingDetailId
      h4="Itinerary No:"
      h3=bookingdetail.ItineraryNo
      h4="Trip Start Date:"
      h3=bookingdetail.TripStart
      h4="Trip End Date:"
      h3=bookingdetail.TripEnd
      h4="Description:"
      h3=bookingdetail.Description
      h4="Destination:"
      h3=bookingdetail.Destination
      h4="Base Price:"
      h3=bookingdetail.BasePrice
      h4="Commission:"
      h3=bookingdetail.AgencyCommission
      h4="Booking ID:"
      h3=bookingdetail.BookingId
      h4="Region ID:"
      h3=bookingdetail.RegionId
      h4="Class ID:"
      h3=bookingdetail.ClassId
      h4="Fee ID:"
      h3=bookingdetail.FeeId
      h4="Product Supplier ID:"
      h3=bookingdetail.ProductSupplierId