extend template
block content 

    h1 Bookings
    each booking in bookings 
        // img.travel(src="/images/cruise1.jpg", alt="booking.CustomerFirstName")
        
        h2=booking.CustomerFirstName  
        p=booking.CustomerLastName
               
        p.card-text 
            | #{booking.CustomerAddress}
        p.card-text 
            | #{booking.CustCity}
        p.card-text 
            | #{booking.CustCountry}
        p.card-text 
            | #{booking.CustHomePhone}
        p.card-text 
            small.text.muted= bookings.BookingId 
        a.btn.btn-primary(href='/bookings' + booking.BookingId ) Details



