template extends 
block content 
  h1 Results 
      p First:
        p=CustFirstName
      p Last:
        p=CustLastName
      p Street Address
        p=CustAddress
      p City:
        p=CustCity
      p Province:
        p=CustProv
      p Home Phone Number:
        p=CustHomePhone
      p Customer Email: 
        p=CustEmail
